div > .navBarButton {
    padding: 16px 8px 16px 24px;
    text-transform: none;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navIcon {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.navLogo {
    padding: 8px 5px;
}

.navLogo:hover {
    cursor: pointer;
}