.customButtonGreyedOut.MuiButton-root {
    text-transform: none;
    background-color: #BDBDBD;
    border-radius: 12px;
}

.customButtonGreyedOut.MuiButton-root:hover {
    background-color: #BDBDBD;
    cursor: default;
}

