.logo.MuiTypography-root {
    color: #2B3674;
    font-size: 20px;
}

.pageHeader-customer.MuiTypography-root {
    color: #2B3674;
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0px;
}

.pageHeader-tenant.MuiTypography-root {
    color: #2B3674;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

/* Common format */
.format-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.format-spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.format-flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}