.pageHeader-customer.MuiTypography-root {
    color: #2B3674;
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0px;
}

.pageHeader-tenant.MuiTypography-root {
    color: #2B3674;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

/* Common format */
.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexbox-flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-columnFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}